<div id="model_new">
  <%= form_for @jktest, :url => subject_jktests_path(@subject_id, @jktest), :method => :post, :remote => true do |f| %>
  <%- if @jktest.errors.any? %>
  <%- @jktest.errors.full_messages.each do |msg|%>
  <%= "#{msg}" %><br />
  <% end %>
  <% end %>
  <span class="row"><label class="control-label">Name
      <%= f.text_field :name, :class => 'input-large'%>
</lable>
</span>

<span class="row"><label class="control-label">Chapters Id
    <%= f.text_field :chapters_id, :class => 'input-large'%>
</lable>
</span>

<span class="row"><label class="control-label"> No Of Questions
    <%= f.text_field :no_of_questions, :class => 'input-large'%>
</lable>
</span>

<%= f.submit "create", :class => 'btn btn-large' %>
<% end %>
</div>
